.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.articles .articles-content {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
  gap: 30px;
}
.articles .articles-content .box {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform var(--main-transition) , box-shadow var(--main-transition);
}
.articles .articles-content .box:hover{
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.articles .articles-content .box img{
  width: 100%;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.articles .articles-content .box .content {
  padding: 20px;
}
.articles .articles-content .box .content .info {
  border-bottom: 1px solid #e6e6e7;
}

.articles .articles-content .box .content .info h3 {
  margin: 0;
}
.articles .articles-content .box .content .info p {
  font-size: 18px;
  line-height: 1.6;
  color: #777;
}

.articles .articles-content .box .content .more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.articles .articles-content .box .content .more a.read-more h3 {
  margin: 0;
  color: var(--main-color);
}
.articles .articles-content .box .content .more i{
  color: var(--main-color);
  font-size: 25px;
  transition: transform var(--main-transition);
}
.articles .articles-content .box:hover i {
  transform: translateX(15px);
}