* {
  box-sizing: border-box;  
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;;
}

.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* Special Heading */
.special-heading {
  position: relative;
  z-index: 100;
  margin: 0 auto 80px;
  width: fit-content;
  cursor: pointer;
}
.special-heading:hover::before,
.special-heading:hover::after{
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  border-radius: 0;
}
.special-heading::before,
.special-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: -1;
  transition: var(--main-transition);
}
.special-heading::before {
  right: 100%;
  margin-right: 10px;
}
.special-heading::after {
  left: 100%;
  margin-left: 10px;
}

.special-heading h1 {
  border: 2px solid #000;
  padding: 5px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
}
.special-heading:hover h1 {
  color: white;
}
@media (max-width: 767px) {
  .special-heading h1 {
    font-size: 20px;
  }
}