.header {
  position: relative;
  box-shadow: 0 0 10px #ddd;
  z-index: 99;
  background-color: #fff;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 991px) {
  .header .container {
    flex-direction: column;
  }
}
.header a.logo {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header a.logo h2 {
  color: var(--main-color);
  font-size: 26px;
  margin: 0;
}
@media (max-width: 767px) {
  .header a.logo {
    margin: 0 auto; 
  height: 50px;
  }
}
.header nav > ul.main-list {
  display: flex;
}
.header nav > ul.main-list > li > a {
  padding: 0 32px;
  position: relative;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header nav > ul.main-list > li > a {
    font-size: 15px;
    padding: 0 20px;
    height: 50px;
  }
}
.header nav > ul.main-list > li > a:hover {
    background-color: #fafafa;
color: var(--main-color);
}

.header nav > ul.main-list > li > a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.header nav > ul > li > a:hover::before {
  width: 100%; 
}
.header nav > ul.main-list > li > .mega-menu {
  width: 100%;
  display: flex;
  gap: 70px;
  align-items: flex-start;
  position: absolute;
  padding: 20px;
  left: 0;
  top: calc(100% + 50px);
  border-bottom: 3px solid var(--main-color);
  background-color: #fff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header nav > ul.main-list > li > .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}
.header nav > ul.main-list > li:hover > .mega-menu {
  opacity: 1;
  visibility: visible;
  top: calc(100% + 1px);
}
.header nav > ul.main-list > li > .mega-menu .img {
    width: 50%;
}
@media (max-width: 991px) {
  .header nav > ul.main-list > li > .mega-menu .img{
    display: none;
  }
}
.header nav > ul.main-list > li > .mega-menu .img img { 
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header nav > ul.main-list > li > .mega-menu .links {
  min-width: 240px;
}
.header nav > ul.main-list > li > .mega-menu .links li a {
  display: block;
  padding: 15px;
  color: var(--main-color);
  font-size: 17px;
  font-weight: bold;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.header nav > ul.main-list > li > .mega-menu .links li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.header nav > ul.main-list > li > .mega-menu .links li a:hover::before {
    width: 100%;
}
.header nav > ul.main-list > li > .mega-menu .links li a i {
  margin-right: 10px;
}