.landing {
  position: relative;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 72px;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: left bottom;
}



.landing .container .text {
    flex: 1;
}
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .text h1 {
  margin: 0 0 15px;
  letter-spacing: 1px;
}
.landing .container .text p{
  font-size: 22px;
  line-height: 1.6;
  margin: 5px 0 0;
  color: #666;
}
.landing .container .image img {
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
  animation: top-to-down 2s linear infinite;
}
@media (max-width: 991px) {
  .landing .container .image img {
      display: none;
  } 
}
@keyframes top-to-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.landing a.go-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
  animation: bouncing 2s linear infinite;
  transition: var(--main-transition);
}
.landing a.go-down:hover {
    color: var(--main-color-alt);
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    30%,
    50%,
    70%,
    100% {
      bottom: 10px;
    }
    40%,
    60% {
      bottom: 0;
    }
}