.stats {    
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url(../images/stats.jpg);
  background-size: 100% 100%;
  background-size: cover;
  position: relative;  
}
.stats::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 80%);
}

.stats h1 {
  text-align: center;
  margin: 0 0 50px 0;
  position: relative;
  z-index: 3;
}
.stats .stats-content {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
  gap: 15px;  
}
.stats .stats-content .box { 
  position: relative;
  z-index: 3;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  cursor: pointer;
  opacity: 0.5;
  transition: var(--main-transition);
}
.stats .stats-content .box:hover {
  opacity: 1;
}
.stats .stats-content .box::before,
.stats .stats-content .box::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.stats .stats-content .box::before {
  left: 0;
  top: 0;
}
.stats .stats-content .box::after {
  right: 0;
  bottom: 0;
}
.stats .stats-content .box:hover::before,
.stats .stats-content .box:hover::after {
  height: 100%;
}
.stats .stats-content .box i {
  font-size: 22px;
  color: var(--main-color);
}
.stats .stats-content .box h2 {
  margin: 20px 0;
  font-size: 40px;
  color: #222;
}
.stats .stats-content .box span {
  display: block;
  color: var(--main-color);
  font-size: 15px;
  font-weight: lighter;
}