@import url(globals.css);
@import url(media_query.css);
@import url(variables.css);
@import url(header.css);
@import url(landing.css);
@import url(articles.css);
@import url(gallery.css);
@import url(features.css);
@import url(testimonial.css);
@import url(team.css);
@import url(services.css);
@import url(skills.css);
@import url(work.css);
@import url(event.css);
@import url(pricing.css);
@import url(videos.css);
@import url(stats.css);
@import url(discount.css);
@import url(footer.css);